---
name: pages
layout: page
---

<script>
  import SearchBar from '$components/SearchBar.svelte';
  import Gallery from '$components/Gallery.svelte';
</script>

# Dale play a tu viaje en el tiempo

Walter Benjamin decía que los objetos cotidianos guardan constelaciones de tiempo y deseo. Cada artículo evoca un fragmento de nuestra historia: una emoción, un recuerdo, un contexto que a veces pasa desapercibido. 

Por eso, los objetos que elegimos conservar acumulan capas de memoria: la revista que compramos en un viaje, el primer disco que nos regalaron, la boleta de ese concierto inolvidable o el juguete que sobrevivió al paso del tiempo son capítulos en movimiento, archivos vivos que no necesitan un disco duro, sino un rincón en los lugares que habitamos.

## Ahora, te invito a usar los elementos interactivos para chismosear la colección. 

<SearchBar />
<Gallery filters={["label", "autor"]}/>
