---
name: credits
layout: page
---

# Créditos

Esta colección fue creada por [Manuela Barrera Nieto](https://www.instagram.com/manubarrera31/?hl=es).

Basada en la plantilla [Serie Mini](https://github.com/srsergiorodriguez/serie-mini), para la creación de colecciones digitales, creada por [Sergio Rodríguez Gómez](https://srsergiorodriguez.github.io/).

Todas las imágenes provienen de mi archivo personal de objetos (y también de muchos recuerdos) Por favor, no las uses sin permiso. 